{% extends "base.html" %}
 
{% block content %}
<div class="blog-panel">

            
            <div class="col-md-10 col-sm-9">
                <h2><i class="post-title">{{ turkey_order.name }}</i></h2>
                <div class="row">
                    <div class="col-xs-12 col-sl-12 col-md-11 col-lg-9">
                    <p>{{ order_details.name }}{{ order_details.address }}{{ order_details.phone_number }}</p>
                                                  <a href="/"><button class="btn btn-default"><a href="/">print</button></a></p>                          

                         {% comment %} {% if post.image %}
                           <img class="imagesize" src="{{MEDIA_URL}}{{ post.image}}">
                            {% endif %} {% endcomment %}
                          {% comment %} <p>{{ post.content|linebreaks }}</p> {% endcomment %}
                          {% comment %} <p><button class="btn btn-default" onclick="location.href='{% url 'turkey_orders_list'%}'">Back to Blog</button>  {% endcomment %}
                            {% if user.id == turkey_orders.author_id %}
                          <button class="btn btn-default" onclick="location.href='{% url 'edit' order_details.id %}'">Edit</button>
                          {% endif %}
                          <a href="/"><button class="btn btn-default"><a href="/">back</button></a></p>                          
                          <p>{{ order_details.published_date }}</p>
                         {% comment %} {% load disqus_tags %}
                         {% set_disqus_title post.title %}
                         {% disqus_show_comments %} {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
 
        
    </div>
{% endblock %}