{% extends "base.html" %}
 
{% block content %}

    {% for order_details in all_turkey_orders %}
                        <p></p>
                        {% comment %} <p><button class="btn btn-default" onclick="location.href={{ turkey_orders.id }}" >Read More</button> {% endcomment %}
                                               {% comment %} <p><button class="btn btn-default" onclick="location.href={{ order_details.id }}" >{{ order_details.name }}{{ order_details.address }}{{ order_details.phone_number }}</button> {% endcomment %}
                        
                    <button onclick="location.href='{% url 'edit_turkey_order' order_details.id %}'">{{ order_details.name }}{{ order_details.address }}{{ order_details.phone_number }}</button>
{% comment %} <button class="btn btn-default new" onclick="location.href='{% url 'new_turkey_order' %}'">New Post</button></p> {% endcomment %}
        {% comment %} {% if user.id == order_details.author_id %}
            <button onclick="location.href='{% url 'edit_turkey_order' turkey_order.id %}'">{{ order_details.name }}{{ order_details.address }}{{ order_details.phone_number }}</button>
        {% endif %} {% endcomment %}
    {% endfor %}
{% endblock %}